/*
!/.github
!/crates
!/deploy_scripts
!/src
!/test_config
!/tests
!/.gitignore
!/action.yml
!/astro.config.mjs
!/biome.json
!/Cargo.lock
!/Cargo.toml
!/package.json
!/pnpm-lock.yaml
!/pnpm-workspace.yaml
!/renovate.json5
!/rustfmt.toml
!/snapshot.sh
!/snapshot_diff.sh
!/taplo.toml
!/tsconfig.json
