/*
!/.github
!/contents
!/crates
!/public
!/src
!/test_config
!/tests
!/.gitignore
!/astro.config.mjs
!/biome.json
!/Cargo.lock
!/Cargo.toml
!/package.json
!/pnpm-lock.yaml
!/rustfmt.toml
!/tsconfig.json
