name: Clippy

on:
  push:

jobs:
  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Enable corepack
        run: corepack enable

      - name: Start caddy
        run: docker compose -f test_config/compose.yml up -d caddy

      - uses: actions/setup-node@v6
        with:
          node-version: '22'
          cache: 'pnpm'

      - name: Install Node dependencies
        run: pnpm install

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy

      - name: Cache cargo
        uses: actions/cache@v5
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-${{ hashFiles('Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-

      - name: Setup test data
        run: mv test_config/test_data/e2e_test/* .

      - name: Build site
        run: pnpm run build
        env:
          PUBLIC_KEY_FILE: test_config/public-key-for-test.pem
          SITE_URL: https://blog.test

      - name: Fix certificate permissions
        run: |
          sudo chown -R $(id -u):$(id -g) test_config/caddy-data
          sudo chmod -R a+rX test_config/caddy-data

      - name: cargo clippy
        run: cargo clippy --workspace --tests -- -D warnings

      - name: Stop caddy
        if: always()
        run: docker compose -f test_config/compose.yml down
