name: Check format

on:
  push:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@nightly
        with:
          components: rustfmt

      - name: cargo fmt
        run: cargo +nightly fmt --check --all

  taplo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: taplo-cli version
        id: taplo-version
        shell: bash
        run: |
          V=$(curl https://index.crates.io/ta/pl/taplo-cli | jq -sr '.[-1].vers')
          echo "Latest version of taplo-cli: $V"
          echo "version=$V" >> $GITHUB_OUTPUT

      - name: cache taplo-cli binary
        id: taplo-cache
        uses: actions/cache@v5
        with:
          path: ~/.cargo/bin/taplo
          key: ${{ runner.os }}-taplo-cli-${{ steps.taplo-version.outputs.version }}

      - uses: dtolnay/rust-toolchain@stable
        if: steps.taplo-cache.outputs.cache-hit != 'true'

      - name: install taplo-cli
        if: steps.taplo-cache.outputs.cache-hit != 'true'
        run: cargo install taplo-cli@${{ steps.taplo-version.outputs.version }} --locked

      - name: taplo fmt
        run: ~/.cargo/bin/taplo fmt --check
